<div class="container">
    <div class="col-md-8">
        <div class="yquizz-detail">
            <h1>{{quizById[0].title}}</h1>
            <p>{{quizById[0].description}}</p>
            <div class="show-first" ng-show="showFirst">
                <img ng-src="../../images/background.jpeg" alt="">
                <button type="button" class="btn btn-default btn-circle btn-xl" ng-click="play()">PLAY</button>
            </div>

            <div class="show-second" ng-show="showSecond">
                <img ng-src="{{questions[indexStt].featuredImg}}" alt="">
                <div class="yquizz-question">
                    <h2>{{questions[indexStt].title}}</h2>
                    <div class="number-question">
                        <p>Question {{indexStt + 1}}/{{questions.length}}</p>
                    </div>
                </div>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-primary" ng-click="pickAnswer()" ng-repeat="choice in questions[indexStt].answers">{{choice.content}}</button>
                </div>
            </div>

            <div class="show-second" ng-show="showResult">
                <img ng-src="{{results[randResult].featuredImg}}" alt="">
                <div class="yquizz-question">
                    <h2>{{results[randResult].title}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <button type="button" class="btn yquizz-btn btn-facebook" id="fbBtn" ng-click="shareFB()"><span class="facebook-icon-btn"></span>Share on Facebook</button>
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn yquizz-btn btn-message"><span class="messenger-icon"></span>Share on Messenger</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn yquizz-btn btn-next">Next Quiz</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="yquizz-email">
            <p>Sign up for our awesome newsletter to get the latest news</p>
            <div class="form-email">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter email address">
                </div>
            </div>
        </div>

        <div class="yquizz-list-sm" ng-repeat="quiz in items | limitTo: 2">
            <div class="yquizz-img-sm">
                <a ui-sref="detail({id: quiz._id})" href=""><img ng-src="{{quiz.featuredImg}}" alt=""></a>
            </div>
            <div class="yquizz-list-content-sm">
                <i class="fa fa-eye" style="margin-top: 15px"></i> 2108
                <h3><a ui-sref="detail({id: quiz._id})" href="">{{quiz.title}}</a></h3>
                <p>{{quiz.description}}</p>
            </div>
        </div>

    </div>
</div>