<div class="container">
    <div class="col-md-8">
        <div class="yquizz-detail">
            <h1>Motivational Sayings Ten Great Ones?</h1>
            <p>Enhance Wellness By Doing Something Different With Nlp</p>
            <div class="show-first" ng-show="!showSecond">
                <img src="../../images/background.jpeg" alt="">
                <button type="button" class="btn btn-default btn-circle btn-xl" ng-click="play()">PLAY</button>
            </div>

            <div class="show-second" ng-show="showSecond">
                <img src="../../images/banner1.jpeg" alt="">
                <div class="yquizz-question">
                    <h2>5 Tips To Supercharge Your Motivation ?</h2>
                    <div class="number-question">
                        <p>Question 1/20</p>
                    </div>
                </div>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-primary">Apple</button>
                    <button type="button" class="btn btn-primary">Samsung</button>
                    <button type="button" class="btn btn-primary">Sony</button>
                </div>
            </div>
        </div>
    </div>
</div>