<div class="container">
    <div class="col-md-8">
        <div class="yquizz-detail">
            <h1>{{quizById[0].title}}</h1>
            <p>{{quizById[0].description}}</p>
            <div class="show-first" ng-show="showFirst">
                <img ng-src="../../images/background.jpeg" alt="">
                <button type="button" class="btn btn-default btn-circle btn-xl" ng-click="play()">PLAY</button>
            </div>

            <div class="show-second" ng-show="showSecond">
                <img ng-src="{{questions[indexStt].featuredImg}}" alt="">
                <div class="yquizz-question">
                    <h2>{{questions[indexStt].title}}</h2>
                    <div class="number-question">
                        <p>Question 1/{{questions.length}}</p>
                    </div>
                </div>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-primary" ng-click="pickAnswer()" ng-repeat="choice in questions[indexStt].answers">{{choice.content}}</button>
                </div>
            </div>

            <!--<div class="show-second" ng-show="showThird">-->
                <!--<img src="../../images/banner2.jpeg" alt="">-->
                <!--<div class="yquizz-question">-->
                    <!--<h2>1 +1 = ?</h2>-->
                    <!--<div class="number-question">-->
                        <!--<p>Question 2/3</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="btn-group-vertical">-->
                    <!--<button type="button" class="btn btn-primary" ng-click="pick2()">1</button>-->
                    <!--<button type="button" class="btn btn-primary" ng-click="pick2()">2</button>-->
                    <!--<button type="button" class="btn btn-primary" ng-click="pick2()">3</button>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="show-second" ng-show="showLast">-->
                <!--<img src="../../images/banner4.jpeg" alt="">-->
                <!--<div class="yquizz-question">-->
                    <!--<h2>5 Tips To Supercharge Your Motivation ?</h2>-->
                    <!--<div class="number-question">-->
                        <!--<p>Question 3/3</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="btn-group-vertical">-->
                    <!--<button type="button" class="btn btn-primary" ng-click="pick3()">Symbian</button>-->
                    <!--<button type="button" class="btn btn-primary" ng-click="pick3()">Nokia</button>-->
                    <!--<button type="button" class="btn btn-primary" ng-click="pick3()">Android</button>-->
                <!--</div>-->
            <!--</div>-->

            <div class="show-second" ng-show="showResult">
                <img ng-src="{{results[randResult].featuredImg}}" alt="">
                <div class="yquizz-question">
                    <h2>{{results[randResult].title}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <button type="button" class="btn yquizz-btn btn-facebook" id="fbBtn" ng-click="shareFB()">Share on Facebook</button>
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn yquizz-btn btn-message">Share on Messenger</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn yquizz-btn btn-next">Next Quiz</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="yquizz-email">
            <p>Sign up for our awesome newsletter to get the latest news</p>
            <div class="form-email">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter email address">
                </div>
            </div>
        </div>

        <div class="yquizz-list-sm">
            <div class="yquizz-img-sm">
                <img src="../../images/banner1.jpeg" alt="">
            </div>
            <div class="yquizz-list-content-sm">
                <i class="fa fa-eye" style="margin-top: 15px"></i> 2108
                <h3>5 Reasons To Keep Your Beauty Salon Reservation</h3>
                <p>When I was a young man, even a teenager for that matter, I always had an optimism that was hard for</p>
            </div>
        </div>

        <div class="yquizz-list-sm">
            <div class="yquizz-img-sm">
                <img src="../../images/banner1.jpeg" alt="">
            </div>
            <div class="yquizz-list-content-sm">
                <i class="fa fa-eye" style="margin-top: 15px"></i> 2108
                <h3>5 Reasons To Keep Your Beauty Salon Reservation</h3>
                <p>When I was a young man, even a teenager for that matter, I always had an optimism that was hard for</p>
            </div>
        </div>
    </div>
</div>