<div class="container">
    <div class="row">
        <div class="col-md-6" ng-repeat="quiz in quizzes | limitTo: 2">
            <div class="yquizz-list-lg">
                <div class="yquizz-img-lg">
                    <img ng-src="{{quiz.featuredImg}}" alt="">
                </div>
                <div class="yquizz-list-content">
                    <i class="fa fa-eye"></i> 2108
                    <h3><a ui-sref="detail({id: quiz._id})" href="">{{quiz.title}}</a></h3>
                    <p>1 hour ago</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-md-4" ng-repeat="quiz in quizzes | limitTo: 12:1" style="">
            <div class="yquizz-list-sm">
                <div class="yquizz-img-sm">
                    <img ng-src="{{quiz.featuredImg}}" alt="">
                </div>
                <div class="yquizz-list-content-sm">
                    <i class="fa fa-eye" style="margin-top: 15px"></i> 2108
                    <h3><a ui-sref="detail({id: quiz._id})" href="">{{quiz.title}}</a></h3>
                    <p>{{quiz.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>