<footer class="yquizz-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="yquizz-footer-content">
                    <p>About</p>
                    <p>Copyright Policy</p>
                    <p>Privacy Policy</p>
                    <p>Contact us</p>
                    <p>Support</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="yquizz-footer-content pull-right">
                    <p>We’re socialized!</p>
                    <span class="facebook-icon"></span>
                    <span class="twitter-icon"></span>
                    <span class="instagram-icon"></span>
                </div>
            </div>
        </div>

        <div class="yquizz-line"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="yquizz-copyright">
                    <p>© 2017 Astraler Technology. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>